@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
}

::-webkit-scrollbar {
  background-color: white;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #F0F0F0;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid #bbbbbb;
}

::-webkit-scrollbar-thumb:active {
  background-color: #e4e4e4;
}

html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  background: #f0f0f0;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "nav nav nav" "sidebar content content" "footer footer footer";
  -ms-grid-rows: auto auto 1fr auto auto;
      grid-template-rows: auto auto 1fr auto auto;
  -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__header {
  font-size: 20px;
}

.header__button {
  background: white;
  padding: 5px 20px;
  font-size: 15px;
  border: 1px solid #bbbbbb;
  text-decoration: none;
  color: black;
  cursor: pointer;
  outline: none;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.header__button:hover {
  background: #000;
  color: white;
}

.header__button:active {
  background: #8d8d8d;
  -webkit-transition: .0s;
  -o-transition: .0s;
  transition: .0s;
}

.nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.nav__img {
  height: 40px;
  cursor: pointer;
}

.nav__logo {
  height: 50px;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 10px 0px;
}

.nav__hamburger {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #bbbbbb;
}

.nav__menu {
  margin: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu h1 {
  margin: 0;
}

.menu__item {
  list-style: none;
  margin: 0px 10px;
}

.menu__item a {
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  display: block;
  padding: 15px 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.menu__item a:hover {
  color: black;
  background: #F0F0F0;
}

.menu__item a:active {
  background: #e0e0e0;
  -webkit-transition: .10s;
  -o-transition: .10s;
  transition: .10s;
}

.sidebar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sidebar;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.sidebar__container {
  padding: 0px 5%;
  margin: 0 auto;
  height: auto;
  background: white;
  border: 1px solid #bbbbbb;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sidebar__title {
  text-align: left;
  font-size: 14px;
}

.sidebar__link {
  margin-top: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
}

.sidebar__header {
  margin-top: 10px;
}

.sidebar__subject {
  display: inline-block;
}

.sidebar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sidebar__item {
  margin-top: 10px;
  width: 100%;
  height: auto;
  background: #f9f9f9;
  border: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar__item:last-child {
  margin-bottom: 20px;
}

.subject {
  font-size: 23px;
  font-weight: 500;
  border-bottom: 2px solid black;
}

.main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: content;
  background: white;
  border-left: 1px solid #bbbbbb;
}

.main__container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main__header {
  margin-top: 20px;
  margin-left: 15px;
}

.main__subject {
  display: inline-block;
}

.main__body {
  margin-top: 10px;
}

.main__footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  width: 100%;
  color: #000;
}

.list__link:hover {
  text-decoration: none;
  color: #000;
}

.list__item {
  width: 100%;
  height: auto;
  background: #f9f9f9;
  border: 1px solid #d8d8d8;
  margin: 10px 10px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: .25s ease-in;
  -o-transition: .25s ease-in;
  transition: .25s ease-in;
  cursor: pointer;
}

.list__item:hover {
  background: #F0F0F0;
}

.list__item:active {
  -webkit-transition: .10s;
  -o-transition: .10s;
  transition: .10s;
  background: #e0e0e0;
}

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.pagination__button:hover {
  color: red;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px;
  width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content__item {
  background: #f9f9f9;
  border: 1px solid #d8d8d8;
  width: 200px;
  height: auto;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .25s ease-in;
  -o-transition: .25s ease-in;
  transition: .25s ease-in;
  cursor: pointer;
}

.content__item:hover {
  background: #F0F0F0;
}

.content__item:active {
  -webkit-transition: .10s;
  -o-transition: .10s;
  transition: .10s;
  background: #e0e0e0;
}

.content__link {
  height: auto;
  width: auto;
  display: contents;
  color: currentColor;
  text-decoration: none;
}

.content__fixclear {
  margin: 0px 0px;
  width: 220px;
}

.content__name {
  word-wrap: break-word;
  margin-top: 15px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.content__description {
  word-wrap: break-word;
  margin-top: 20px;
  width: 100%;
}

.content__img {
  margin-top: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100px;
}

.content__price {
  margin-top: 20px;
  width: 100%;
  text-align: left;
}

.news__subject {
  text-align: left;
  margin: 10px 0px;
  font-weight: bold;
}

.news__text {
  margin: 0px 0px 40px 0px;
}

.news__date {
  text-align: left;
  margin: 10px 0px 30px 0px;
}

.newscontent__subject {
  word-wrap: break-word;
  margin-top: 15px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background: white;
  border-top: 1px solid black;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__body p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.login {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  border: 1px solid #e2e2e2;
  background: white;
}

.login__label {
  margin: 10px 0px;
  font-size: 20px;
}

.login__text {
  margin: 10px 0px;
  outline: none;
  padding: 0px 5px;
  border: 1px solid black;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.login__text:focus {
  padding: 0px 40px;
}

.login__button {
  margin: 10px 0px;
  background: white;
  padding: 5px 20px;
  font-size: 15px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  cursor: pointer;
  outline: none;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.login__button:hover {
  background: #000;
  color: white;
}

.login__button:active {
  background: #8d8d8d;
  -webkit-transition: .0s;
  -o-transition: .0s;
  transition: .0s;
}

.adminwrapper {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "nav nav nav" "content content content" "footer footer footer";
  -ms-grid-rows: auto auto 1fr auto auto;
      grid-template-rows: auto auto 1fr auto auto;
  -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
}

.addgoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addgoods__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.addgoods__label {
  margin: 20px 0px 0px 0px;
}

.addgoods__text {
  margin: 5px 0px;
}

.addgoods__file {
  margin: 5px 0px;
}

.addgoods__textarea {
  margin: 5px 0px;
}

.addgoods__littletxt {
  font-size: 12px;
}

.addgoods__button {
  margin: 10px 0px;
  background: white;
  padding: 5px 20px;
  font-size: 15px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  cursor: pointer;
  outline: none;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.addgoods__button:hover {
  background: #000;
  color: white;
}

.addgoods__button:active {
  background: #8d8d8d;
  -webkit-transition: .0s;
  -o-transition: .0s;
  transition: .0s;
}

.addgoods__button-delete {
  margin: 10px 0px;
  background: red;
  padding: 5px 20px;
  font-size: 15px;
  border: 1px solid black;
  text-decoration: none;
  color: white;
  cursor: pointer;
  outline: none;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  float: right;
}

.addgoods__button-delete:hover {
  background: #990101;
  color: white;
}

.addgoods__button-delete:active {
  background: #8d8d8d;
  -webkit-transition: .0s;
  -o-transition: .0s;
  transition: .0s;
}

@media (max-width: 768px) {
  .wrapper {
        grid-template-areas: "header header header" "nav nav nav" "content content content" "footer footer footer";
  }
  .sidebar {
    display: none;
  }
}

@media (max-width: 600px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    display: none;
  }
  .menu__item {
    width: 100%;
  }
  .menu__item a {
    text-align: center;
  }
  .menu__item a:hover {
    color: white;
    background: #000;
  }
  .menu__item a:active {
    background: #e0e0e0;
    -webkit-transition: .10s;
    -o-transition: .10s;
    transition: .10s;
  }
  .nav {
    border-top: 0px solid #bbbbbb;
  }
  .nav__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__item {
    width: 90%;
  }
  .content__img {
    max-height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */